version: "3.9"

services:
  app1:
    build: ./app1
    container_name: app1
    ports:
      - "3000:3000"

  app2:
    build: ./app2
    container_name: app2
    ports:
      - "3001:3001"

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - app1
      - app2
