name: Deploy Reverse NGINX Stack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e

            sudo rm -rf /opt/reverse-nginx

            sudo git clone https://github.com/danishds-13/reverse-nginx-aws.git /opt/reverse-nginx

            cd /opt/reverse-nginx

            sudo docker-compose down || true
            sudo docker-compose up -d --build



